@(messageStr: String)

@import helper._

@main("Customer Login") {

	<table border="0">
		<tr>
   			<td>
			<a href="/" target="_self">ANA SAYFA</a>
    		</td>
    	</tr>
    </table>

	<h2>Customer Login</h2>
	
	<font color="red">@messageStr</font>
    
    @form(routes.Application.checkCustomer()) {
    <table border=1>
    	<tr>
    		<td>
    			<strong>EMAIL:</strong> 
    		</td>
    		<td>
    			<input type="email" name="email">
    		</td>
    	</tr>
    	<tr>
    		<td>
    			<strong>Password::</strong> 
    		</td>
    		<td>
    			<input type="password" name="password" size="30%">
    		</td>
    	</tr>
    	
    </table>
    
        
    <input type="submit" value="LOGIN">
        
    }
}
