@(products: List[ProductWithListInfo], listitems: List[ProductList], productForm: Form[Product], emailStr: String, messageStr: String)

@import helper._

@main("Haksle Product list") {

	<table border="0">
		<tr>
   			<td>
			<a href="/" target="_self">LOGOUT</a>
    		</td>
    	</tr>
    </table>
    
    <font color="red">@messageStr</font>

	<h2>Add Product by URL</h2>
	
	Supported Web Sites are:
    <ul>
    	<li><a href="http://www.hepsiburada.com" target="_blank">Hepsiburada</a></li>
    	<li><a href="http://www.gittigidiyor.com" target="_blank">Gittigidiyor</a></li>
    	<li><a href="http://www.morhipo.com" target="_blank">Morhipo</a></li>
    </ul>
    
    <br>
    
    @form(routes.Application.addProduct()) {
    
    <strong>URL:</strong> <input type="text" name="source" size="100%">
    <br>
    <strong>LIST:</strong> 
    <select name=listname>
     	@for(item <- listitems) {
  			<option value="@item.listname">@item.listname</option>
  		}
  			<option value="newlist">New List</option>
	</select>
	
	<input type="text" name="newlistname" size="15%">
	
	<select name=desireddiscount>		
			<option value=5>%5</option>
  			<option value=15>%15</option>
  			<option value=25>%25</option>
  			<option value=50>%50</option>
  			<option value=Sepet>Sepet</option>
	</select>
	
	
	
    <input type="hidden" name="email" value="@emailStr">
        
    <input type="submit" value="ADD">
        
    }

    
    <h2>Products Followed: @products.size() product(s)</h2>
    
    @for(item <- listitems) {
    <table border="1">
   		<tr>
			<td colspan="6"><font color=blue><strong>@item.listname</strong></font></td>
		</tr>
   		<tr>
			<td></td>
			<td align="center"><strong>Title</strong></td>
			<td align="center"><strong>InitialPrice</strong></td>
			<td align="center"><strong>CurrentPrice</strong></td>
			<td align="center"><strong>URL</strong></td>
			<td align="center"><strong>DesiredDiscount</strong></td>
		</tr>
        @for(product <- products) {
        	@if((product.pid).equals(item.pid)){
		        <tr>
		        	<td>
		                @form(routes.Application.deleteProduct(product.pid, emailStr)) {
		                	<input type="hidden" name="email" value="@emailStr">
		                    <input type="submit" value="Delete">
		                }
		            </td>
		        	<td>
		                @product.title
		            </td>
		            <td>
		                @product.initialprice
		            </td>		            
		            <td>
		                @product.currentprice
		            </td>	         	
		            <td>
		                @product.source
		            </td>
		            <td>
		                @item.desireddiscount
		            </td>
		 		</tr>
		 	}
       }
    
    </table>
    <br>
    }
 
}
