@(products: List[Product], listitems: List[ProductList], productForm: Form[Product], emailStr: String, messageStr: String)

@import helper._

@main("Haksle Product list") {

	<table border="0">
		<tr>
   			<td>
			<a href="/" target="_self">LOGOUT</a>
    		</td>
    	</tr>
    </table>
    
    <font color="red">@messageStr</font>

	<h2>Add Product by URL</h2>
	
	Supported Web Sites are:
    <ul>
    	<li><a href="http://www.hepsiburada.com" target="_blank">Hepsiburada</a></li>
    	<li><a href="http://www.gittigidiyor.com" target="_blank">Gittigidiyor</a></li>
    	<li><a href="http://www.morhipo.com" target="_blank">Morhipo</a></li>
    </ul>
    
    <br>
    
    @form(routes.Application.addProduct()) {
    
    <strong>URL:</strong> <input type="text" name="source" size="100%">
    <br>
    <strong>LIST:</strong> 
    <select name=listname>
     	@for(item <- listitems) {
  			<option value="@item.listname">@item.listname</option>
  		}
  			<option value="newlist">New List</option>
	</select>
	
	<input type="text" name="newlistname" size="15%">
	
    <input type="hidden" name="email" value="@emailStr">
        
    <input type="submit" value="ADD">
        
    }

    
    <h2>Products Followed: @products.size() product(s)</h2>
    
    <table border="1">
   		<tr>
			<td></td>
			<td><strong>Title</strong></td>
			<td><strong>InitialPrice</strong></td>
			<td><strong>CurrentPrice</strong></td>
			<td><strong>URL</strong></td>
		</tr>
        @for(product <- products) {
        <tr>
        	<td>
                @form(routes.Application.deleteProduct(product.pid)) {
                	<input type="hidden" name="email" value="@emailStr">
                    <input type="submit" value="Delete">
                }
            </td>
        	<td>
                 @product.title
            </td>
            
        	<td>
                @product.attr1value
            </td>
            
            <td>
                @product.attr2value
            </td>
         	
            <td>
                @product.source
            </td>
 		</tr>
       }
    
    </table>
    
}
